.students {
  display: flex;
  color: rgb(25, 22, 13);
  padding: 10px;
  margin-left: 20px;
  justify-content: space-around;
}

* {
  background-color: rgb(235, 226, 253);
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.student-bio {
  margin: 20px;
}